apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  name: k8sgpts.core.k8sgpt.ai
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.1
  labels:
  {{- include "chart.labels" . | nindent 4 }}
spec:
  group: core.k8sgpt.ai
  names:
    kind: K8sGPT
    listKind: K8sGPTList
    plural: k8sgpts
    singular: k8sgpt
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: K8sGPT is the Schema for the k8sgpts API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: K8sGPTSpec defines the desired state of K8sGPT
            properties:
              ai:
                properties:
                  anonymized:
                    default: true
                    type: boolean
                  backend:
                    default: openai
                    enum:
                    - openai
                    - localai
                    - azureopenai
                    - amazonbedrock
                    - cohere
                    - amazonsagemaker
                    type: string
                  baseUrl:
                    type: string
                  enabled:
                    type: boolean
                  engine:
                    type: string
                  language:
                    default: english
                    type: string
                  model:
                    default: gpt-3.5-turbo
                    type: string
                  secret:
                    properties:
                      key:
                        type: string
                      name:
                        type: string
                    type: object
                required:
                - backend
                type: object
              extraOptions:
                properties:
                  backstage:
                    properties:
                      enabled:
                        type: boolean
                    type: object
                type: object
              filters:
                items:
                  type: string
                type: array
              imagePullSecrets:
                items:
                  properties:
                    name:
                      type: string
                  type: object
                type: array
              integrations:
                properties:
                  trivy:
                    properties:
                      enabled:
                        type: boolean
                      namespace:
                        type: string
                      skipInstall:
                        type: boolean
                    type: object
                type: object
              noCache:
                type: boolean
              nodeSelector:
                additionalProperties:
                  type: string
                type: object
              remoteCache:
                properties:
                  azure:
                    properties:
                      containerName:
                        type: string
                      storageAccount:
                        type: string
                    type: object
                  credentials:
                    properties:
                      name:
                        type: string
                    type: object
                  gcs:
                    properties:
                      bucketName:
                        type: string
                      projectId:
                        type: string
                      region:
                        type: string
                    type: object
                  s3:
                    properties:
                      bucketName:
                        type: string
                      region:
                        type: string
                    type: object
                type: object
              repository:
                default: ghcr.io/k8sgpt-ai/k8sgpt
                type: string
              sink:
                properties:
                  type:
                    enum:
                    - slack
                    type: string
                  webhook:
                    type: string
                type: object
              version:
                type: string
            type: object
          status:
            description: K8sGPTStatus defines the observed state of K8sGPT
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
