# permissions for end users to view k8sgpts.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: k8sgpt-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: k8sgpt-operator
    app.kubernetes.io/part-of: k8sgpt-operator
    app.kubernetes.io/managed-by: kustomize
  name: k8sgpt-viewer-role
rules:
- apiGroups:
  - core.k8sgpt.ai
  resources:
  - k8sgpts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - core.k8sgpt.ai
  resources:
  - k8sgpts/status
  verbs:
  - get
